# .gitignore 

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds

timeline.xctimeline
playground.xcworkspace


## Swift Package Manager

Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm

.build/


## Carthage

Carthage/Build/


## Accio dependency management

Dependencies/
.accio/


## fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


## Code Injection

iOSInjectionProject/


## Others

.DS_Store
*/.DS_Store
*/*/.DS_Store
